* {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue";
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

#main {
  width: 100%;
}

#nav {
  position: relative;
  display: flex;
  gap: 20px;
  justify-content: space-between;
  padding: 3vw 10vw;
}
#nav a {
  font-weight: 800;
  font-size: 12px;
  text-decoration: none;
  color: black;
}

#nleft {
  display: flex;
  gap: 30px;
}

#nav #centeratag {
  font-size: 13px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 15vw;
  padding: 0vw 10vw;
}
#sustain {
  width: 10vw;
}
#sustain p {
  text-transform: capitalize;
  font-weight: 800;
  opacity: 0.5;
  line-height: 1;
  font: size 12px;
  margin: 10px 0;
}
#sustain #susimagewraper {
  width: 100%;
  height: 20vw;
  position: relative;
  overflow: hidden;
}
#susimagewraper img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 200%;
  height: 200%;
  object-fit: cover;
  position: absolute;
}

#ephemeral {
  position: relative;
  width: 30vw;
  min-height: 27vw;
}

#imagentext {
}

#ephemeral img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#ephemeral #headings {
  top: -36%;
  left: -20%;
  position: absolute;
}
#ephemeral p {
  margin-top: 30px;
  font-size: 1.3vw;
  letter-spacing: -0.07vw;
  line-height: 1.3;
  width: 50%;
}

#ephemeral h1 {
  font-weight: 400;
  font-size: 6vw;
  letter-spacing: -0.4vw;
  line-height: 1;
}

#circlev {
  display: flex;
  border-radius: 50%;
  border: 2px solid #5e5e5e;
  align-items: center;
  justify-content: center;
  width: 3vw;
  height: 3vw;
}

#circlev i {
  color: #5e5e5e;
}

#visit h3 {
  font-weight: 100;
  color: #5e5e5e;
}

#visit {
  display: flex;
  gap: 10px;
  align-items: center;
}

#motive {
  margin-top: 7vw;
  padding: 3vw 10vw;
  display: flex;
  justify-content: space-between;
}

#motive p {
  line-height: 1.9;
  letter-spacing: -0.1vw;
  width: 85%;
  text-align: right;
  font-size: 2vw;
  position: relative;
  right: 0;
}

#motive span {
  display: inline-block;

  margin: 0 5px;
  border-radius: 100px;

  margin: 0 10px;
  margin-bottom: -12.5px;
}

#onespan {
  width: 80px;
  height: 40px;
  background-image: url("../image & video/bluegirl.jpg");
  background-size: cover;
  background-position: 0% 50%;
}

#twospan {
  width: 120px;
  height: 40px;
  background-image: url("../image & video/shaljam.jpg");
  background-size: cover;
  background-position: 0% 50%;
}

#threespan {
  width: 80px;
  height: 40px;
  background-image: url("../image & video/grass.jpg");
  background-size: cover;
  background-position: 0% 50%;
}

#pictures {
  display: flex;
  justify-content: space-between;
  padding: 3vw;
  padding-left: 14vw;
  padding-right: 12vw;
}
#firstpic {
  width: 17vw;
}
#firstpic #picimg {
  width: 100%;
  height: 24vw;
  margin-bottom: 1vw;
}

#firstpic h1,
#secpic h1 {
  letter-spacing: -0.1vw;
  font-weight: 100;
  font-size: 2vw;
}
#firstpic p,
#secpic p {
  font-size: 15px;
  margin-top: 1vw;
  letter-spacing: -0.07vw;
  line-height: 1;
  opacity: 0.5;
}

#picimg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#secpic {
  display: flex;
  flex-direction: column;
  align-items: end;
  width: 25vw;
}
#secpic #picimg {
  width: 100%;
  height: 35vw;
  margin-bottom: 1vw;
}

#secpic p {
  width: 50%;
  text-align: right;
}

#banner {
  display: flex;
  align-items: center;
  width: 100%;
  margin-top: 8vw;
}

#bimg {
  width: 65%;
  height: 60vh;
  background-color: red;
}

#bimg img {
  width: 100%;
  height: 100%;

  object-position: 0% 70%;
  object-fit: cover;
}

#btext {
  width: 35%;
  padding: 0 4vw;
}

#btext h1 {
  font-size: 4vw;
  font-weight: 400;
  letter-spacing: -0.1vw;
  line-height: 1;
}

#btext p {
  margin-top: 20px;
  width: 60%;
  font-size: 1vw;
}

#future {
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 150vh;
  background-color: #f5f5f5;
}

#future video {
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
}

#ftext {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 999;
}

#ftext button {
  padding: 1vw 1.3vw;
  font-size: 1vw;
  letter-spacing: -0.01vw;
  font-weight: 500;
  border-radius: 100px;
  background-color: white;
  border: 1px solid red;
  color: #5e5e5e;
}
